* {
    box-sizing: border-box;
}


.text {

    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -1px;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.card:hover {
    transform: scale(1.06);
    transition: all 0.2s ease-in-out;
}

.m {
    margin-top: 30px;
}

.container {
    background: #dddddd;
    padding: 1px;
    height: 100%;
}

.navbar {

    margin-top: 20px;
}

.btn {
    margin-left: 8px;
}

.dd {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tvir {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

h3 {
    width: 100%;
}